body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #474a4c;
  color: #fff;
}

h1 {
  font-size: 200%;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #86B817;
  font-weight: bold;
  text-decoration: none;
}


main {
  display: flex;
  flex: 1 1 0;
  max-width: 1200px;
  margin: 2% auto;
}

section {
  flex: 1 1 0;
  padding-right: 5%;
}

article {
  border-bottom: 1px solid #d8a47f;
}


aside h2 {
  font-size: 150%;
}


footer {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: #474a4c;
  color: #fff;
}

@media screen and (max-width: 768px) {
  header, main {
    flex-direction: column;
  }

  .hero{
    width: 100%;
    flex: 0 0 100%;
    max-width: 1000px;
    max-height: 357px;
  }
  section {
    padding-right: 0;
  }

  aside {
    width: 100%;
    text-align: center;
  }
}
